*{
  font-family: 'Cinzel';
}

.minotaur img {
  min-width: 250px;
  width: 70%;
}

.scroll-box p::first-letter {
  font-size: x-large;
}

.prompText p::first-letter{
  font-size: x-large;
}

.scroll-box img{
  float: right;
  margin: 1em;
  border: 2px solid wheat;
  max-width: 380px;
}

body{
  background-color: rgb(220, 162, 27);
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

img {
  width: 35%;
  margin: auto;
}

.gameEnd {
  background-color: wheat;
  width: 80%;
  margin: auto;
  border: 2px solid #282c34;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.gameEnd a {
  font-size: small;
  padding: 5px;
  margin: 1em;
  border: 3px solid ;
}

.gameEnd img {
  display: inline-block;
  width: 60%;
  margin: auto;
}

.game div {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 0px;
  align-items: center;
}

.game {
  background-color: rgb(149, 21, 21);
  text-align: center;
  height: 97vh;
  min-height: max-content;
}

h1{
  text-shadow: 2px 2px 2px wheat ;
  padding-top: 1em;
}

.prompText, .theseus {
  width: 80%;
  margin: auto;
  background-color: rgb(172, 147, 99);
  border: 2px solid ;
}

.theseus button {
  font-size: large;
  margin-bottom: 2em;
}


/* div div {
  background-color: white;
  padding: 0px;
}

div div div {
  background-color: rgb(255, 184, 184);
}

div div div div {
  background-color: rgb(255, 216, 143);
}

div div div div div {
  background-color: rgb(255, 255, 205);
}

div div div div div div {
  background-color: rgb(197, 255, 197);
}

div div div div div div div {
  background-color: rgb(199, 199, 255);
}

div div div div div div div {
  background-color: rgb(229, 192, 255);
} */

.option{
  width: 50%;
  margin: .5em;
  background-color: rgb(164, 114, 40);
  color:#161a21;
  border: 4px solid darkslategrey;
  border-style: groove;
  /* float: left; */
}
.option button {
  width: 80%;
  margin-bottom: 10px;
}

.optionBox {
  width: 80%;
  margin: auto;
  display: flex;
  background-color: rgb(34, 25, 88);
  color: wheat;
  border: 3px solid #0b0e13;
  flex-wrap:wrap;
  justify-content: center;
}

.optionBox h3 {
  display: block;
}

.optionBox div {
  width:45%;
}

.home{
  background-color: rgb(161, 30, 30);
  height: auto;
  /* border-image-source: url(borderImg.jpg) 30; */
}

.home img{
  border: 6px solid rgb(255, 174, 0);
  border-radius: 4px;
  border-style: ridge;
  width: 50%;
}



.home, .game, .memoryPage {
  border: 6px solid rgb(85, 86, 182);
  border-style: groove
}

.memoryPage{
  background-color: rgb(161, 30, 30);
  height: auto;
}

.memoryPage a{
  width: 20%;
  font-size: small;
  padding: .5em;
  margin-left: 3em;
  margin-right: 3em;
}

.memoryItem{
  background-color: wheat;
  width: 70%;
  margin: auto;
  border: 2px solid black;
  border-radius: 9px;
  margin-top: 1em;
}

.memoryItem h3 {
  font-style: italic;
  cursor: pointer;
}

.scroll-box {
  width: 80%;
  height: 250px;
  background-color: #282c34;
  color:rgb(255, 255, 205);
  font-family: 'Gabriela';
  text-align: left;
  text-indent: 2em;
  padding: 20px 20px;
  box-sizing: border-box;
  overflow-y:scroll;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 3px solid black
}


a, .linklike, .restartButton {
  background-color: rgb(173, 115, 27);
  color:  #282c34;
  border: 4px solid rgb(46, 32, 126);
  border-radius: 6px;
  text-decoration: none;
  margin: 1em;
  display: inline-block;
  padding: 14px;
  font-size: 25px;
  font-family: 'Genos';
  border-style: ridge;
}

a:hover, .linklike:hover, .restartButton:hover {
  cursor: pointer;
  background-color: rgb(219, 176, 112);
}
.game-buttons {
  display: flex;
  margin: 1em;
}
.game-buttons button {
  margin-bottom: 1em;
}

.menu {
  width: 25%;
  display: flex;
  /* background-color: #6a707c; */
}

/* .items{
  background-color: #282c34;
} */

button {
  background-color: #282c34;
  color: wheat;
  font-family: 'Genos';
  border-radius: 8px;
}

button:hover{
  background-color: #6a707c;
}
.menu a, .restartButton {
  font-size: small;
  padding: 5px;
  margin: 1em;
  border: 3px solid ;
}


h1, h2 {
  font-family: 'Cinzel';
}

.message-popup {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 70%;
  /* margin: auto; */
  height: auto;
  max-height: 70vh;
  /* margin-top: calc(100vh - 85vh - 20px); */
  background: rgb(172, 147, 99);
  border-radius: 4px;
  padding: 20px;
  border: 4px outset rgb(75, 75, 75);
  overflow: auto;
}

.box img {
  width: 20vw;
  max-width: 400px;
  /* height: 300px; */
}


.App {
  text-align: center;
  background-color: #0b0e13;
}

