*{
  /* font-family: 'Cinzel'; */
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  overflow: auto

}


.minotaur img {
  min-width: 250px;
  width: 70%;
}

.scroll-box p::first-letter {
  font-size: x-large;
}

.prompText p::first-letter{
  font-size: x-large;
}

.scroll-box img{
  float: right;
  margin: 1em;
  border: 1px solid wheat;
  max-width: 20em;
}

body{
  /* background: linear-gradient(180deg, #edc800, #e3b600, #f3cf00, #ffe800); */
  background: #282c34;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  /* overflow: scroll */
}

img {
  width: 35%;
  margin: auto;
}

.gameEnd {
  background-color: wheat;
  width: 80%;
  margin: auto;
  border: 2px solid #282c34;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.gameEnd a {
  font-size: small;
  padding: 5px;
  margin: 1em;
  border: 3px solid ;
}

.gameEnd img {
  display: inline-block;
  width: 60%;
  margin: auto;
}

.game div {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 0px;
  align-items: center;
}

.game {
  background-color: rgb(18, 9, 51);
  color: wheat;
  text-align: center;
  height: 97vh;
  min-height: max-content;
}

.game h1 {
  color: rgb(190, 146, 64);
  text-shadow: 1.5px 1.5px 2px rgb(168, 145, 103);
}

h1{
  text-shadow: 2px 2px 2px wheat ;
  padding-top: 1em;
}

.prompText, .theseus {
  width: 80%;
  /* min-height: 200px; */
  margin: auto;
  /* background-color: rgb(126, 118, 102); */
  /* background: linear-gradient(rbg(172, 147, 99), pink) ; */
  border: 2px solid ;
  color: #1e232c;
  border: 4px solid #818faa;
  border-style: outset;
  background-image: linear-gradient(rgb(93, 90, 90), rgb(135, 127, 112), rgb(192, 189, 164), rgb(235, 235, 203), rgb(192, 189, 164), rgb(135, 127, 112), rgb(93, 90, 90));
}

.prompText {
  /* font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; */
  font-size: 1.3em;
  font-style: oblique;
  margin-bottom: 4em;
  margin-top: 2em;
  font-weight: 700;
  /* font-weight: 500; */


}

.theseus button {
  font-size: large;
  margin-bottom: 2em;
}


/* div div {
  background-color: white;
  padding: 0px;
}

div div div {
  background-color: rgb(255, 184, 184);
}

div div div div {
  background-color: rgb(255, 216, 143);
}

div div div div div {
  background-color: rgb(255, 255, 205);
}

div div div div div div {
  background-color: rgb(197, 255, 197);
}

div div div div div div div {
  background-color: rgb(199, 199, 255);
}

div div div div div div div {
  background-color: rgb(229, 192, 255);
} */

.option{
  width: 35%;
  margin: .5em;
  background-image: linear-gradient(rgb(108, 96, 63), rgb(49, 39, 17));
  color:#141312;
  border: 4px solid darkslategrey;
  border-style: inset;
  
  /* float: left; */
}
.option h4 {
  font-family: 'Cinzel';
}
.option button {
  width: 60%;
  margin-bottom: 10px;
}

.navigation {
  color: rgb(109, 96, 71);
}

.optionBox {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  color: wheat;
  border: 3px solid #333b48;
  border-style: outset;
  flex-wrap:wrap;
  justify-content: center;
  background-color: #231b53;
  /* background-image: linear-gradient(rgb(217, 215, 222), rgb(185, 173, 205) blue); */
}

.optionBox h3 {
  display: block;
}

.optionBox div {
  width:45%;
}

.home, .memoryPage{
  /* background-color: rgb(161, 30, 30); */
  background-image: linear-gradient(rgb(168, 44, 44), rgb(124, 29, 29), rgb(73, 16, 16));
  /* background-image: url("https://t3.ftcdn.net/jpg/02/58/64/88/360_F_258648835_rqhfnkSJzpL9byS3vA4l2yXuufFHpcTW.jpg")  ; */
  height: auto;
}
/* 
.home a, .home .linklike{
  background-color: #0b0e13;
} */

.memoryPage{
  background-image: linear-gradient(rgb(138, 81, 81), rgb(168, 44, 44), rgb(134, 34, 34),rgb(124, 29, 29),  rgb(124, 29, 29), rgb(103, 36, 36), rgb(73, 16, 16));

}

.home img{
  border: 4px solid rgb(206, 203, 197);
  border-radius: 4px;
  border-style: outset;
  width: 50%;
  /* transition: 2s; */
  /* border-image: url('borderImg.jpg') 12 stretch; */
}
/* 
.home img:hover {
  width: 70%
} */



.home, .game, .memoryPage {
  border: 6px solid rgb(85, 86, 182);
  border-style: groove
}

.memoryPage{
  /* background-color: rgb(161, 30, 30); */
  height: auto;
}

.memoryPage a, .memoryPage .linklike{
  width: 20%;
  font-size: small;
  padding: .5em;
  margin-left: 3em;
  margin-right: 3em;
  background: linear-gradient(180deg, #b49a05d6, #e3b600ca, #f3cf00bc, #ffea00ae)

}

.memoryItem{
  background-image: linear-gradient(rgb(172, 150, 108), wheat);
  width: 70%;
  margin: auto;
  border: 2px solid black;
  border-radius: 9px;
  margin-top: 1em;
}

.memoryItem h3 {
  font-style: italic;
  cursor: pointer;
}

.scroll-box {
  width: 80%;
  height: 250px;
  /* background-color: #282c34; */
  background-image: linear-gradient( #818faa, #3a414f, #282c34);
  color:rgb(255, 255, 205);
  font-family: 'Gabriela';
  text-align: left;
  text-indent: 2em;
  padding: 20px 20px;
  box-sizing: border-box;
  overflow-y:scroll;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 3px solid rgb(106, 105, 105);
  border-style: outset;
}


a, .linklike, .restartButton {
  /* background-color: rgb(173, 115, 27); */
  color:  #282c34;
  border: 2px solid rgb(165, 163, 177);
  border-radius: 6px;
  text-decoration: none;
  margin: 1em;
  display: inline-block;
  padding: 14px;
  font-size: 25px;
  font-family: 'Genos';
  border-style: outset;
  background: linear-gradient(180deg, #edc800, #e3b600, #f3cf00, #ffe800)
}

a:hover, .linklike:hover, .restartButton:hover {
  cursor: pointer;
  background-color: rgb(184, 179, 170);
}
.game-buttons {
  display: flex;
  margin: 1em;
}
.game-buttons button {
  margin-bottom: 1em;
}

.menu {
  width: 25%;
  display: flex;
  /* background-color: #6a707c; */
}

.menu img {
  max-width: 6em;
}


/* .items{
  background-color: #282c34;
} */

button {
  background-color: #282c34;
  color: wheat;
  font-family: 'Genos';
  border-radius: 8px;
}

button:hover{
  background-color: #6a707c;
}
.menu a, .restartButton {
  font-size: small;
  padding: 5px;
  margin: 1em;
  border: 3px solid ;
  background: linear-gradient(180deg, #b49a05d6, #967802ca, #746305bc, #3e3a03ae)

}


h1, h2 {
  font-family: 'Cinzel';
}

.message-popup {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 70%;
  /* margin: auto; */
  height: auto;
  max-height: 70vh;
  /* margin-top: calc(100vh - 85vh - 20px); */
  background: rgb(172, 147, 99);
  border-radius: 4px;
  padding: 20px;
  border: 4px outset rgb(75, 75, 75);
  overflow: auto;
}

.box img {
  width: 20vw;
  max-width: 400px;
  /* height: 300px; */
}

.icon {
  height: 1em;
  width: auto;
  display: inline-block
}

.App {
  text-align: center;
  background-color: #0b0e13;
}

